.container{
    box-shadow: 0px 0px 1px 1px;
    width:1300px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}

.column1{
    background-color: rgb(66, 62, 62);
    color: white;
    width: 400px;
    text-align: center;
}

.column2{
    background-color:lightgray;
    /* width: 1700px; */
    /* text-align: center; */
    /* color: white; */
}

img{
    width: 150px;
    height: 150px;
    border-radius:50% ;
    /* margin-left: 140px; */
    margin-top: 30px;
}

.headings{
    border: 1px solid grey;
    /* width:150px; */
    background-color:green;
    color: white;
}

li{
    font-size: 20px;
}

.headings2{
    margin-left: 20px;
    font-size: 20px;
}

span{
    font-size: 20px;
    margin-left: 20px;
}

